<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is this all about?</h2>
                    <h3 class="section-subheading text-muted">Seriously, what do we do?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gears fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Hardware</h4>
                    <p class="text-muted">We like to make things. It is always nice to have code you wrote running on something you can hold in your hand.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-book fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Education</h4>
                    <p class="text-muted">End goal: Empower the individual to put thoughts into form.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-question-circle fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Etc...</h4>
                    <p class="text-muted">Sewing, firearms, animal husbandry, nutrition, genealogy, etc... (hence the etc.)</p>
                </div>
            </div>
        </div>
    </section>
